html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.container {
	display: table;
	width: 100%;
	height: 100%;
	margin-top: 2%;
}

.main {
	display: table-cell;
	width: 80%;
	vertical-align: top;
}

.navigation {
	display: table-cell;
	width: 20%;
	vertical-align: top;
}

.footer {
	margin-top: 40%;
}

